body {
    font-size: 1.6em;
  }
  
  h1 {
    color: #E04000;
  }
  
  h2 {
    font-size: 1.4em;
    font-weight: 500;
    color: #325578;
  }
  
  h3 {
    font-style: italic;
    font-size:1.15em;
    color: #325578;
  }

  h4 {
    color: #E04000;
  }
  
  a {
    color: #325578;
  }

  .table a {
    text-decoration: underline;
  }
  
  .table a:hover {
    text-decoration: none;
    font-size: 20px;
  }

  a.tarifas {
    font-size: 1.2em;
    text-decoration: underline;
  }

  /* tr:hover {
    background-color: #f9ffe0;
  }   */

  #calendario td {
    border: 1px #DDD solid; 
    padding: 5px; 
    cursor: pointer;
    vertical-align: bottom !important;
  }

  #phone td {
    border: 1px #7090A0 solid; 
    padding: 5px; 
    cursor: pointer;
    vertical-align: bottom !important;
  }

  /* #phone th {
    padding-top: 5px; 
    padding-right: 35px;
    padding-bottom: 5px;
    padding-left: 35px;
  } */


  table {
    background-color: #fff;
  }

  thead {
    background-color:	#325578;
    color: #FFF;
  }

  tbody {
    vertical-align: baseline;
  }

  .cabecera {
    font-weight: normal;
  }

  /* .cabecera p {
    text-align: center;
    font-size: 1em;
  } */

  table {
    overflow: hidden;
  }

  /* .procedimiento {
    border: #325578;
  } */

  p {
    font-size: 1.2em;
  }

  li {
    font-size: 1em;
  }

  /* img {
      max-width: 100%;
  } */
  
  .container {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  section.dark {
    background-color: rgba(112, 144, 160, 0.2);
    background-size: cover;
  }

  section.container {
    padding-top: 4em;
    padding-bottom: 1em;
  }
  
  .logo  {
    display: flex;
    margin: 2px;
  }
  
  .navbar {
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
  }
  
  .navbar .nav > .active > a {
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.6) inset;
  }
  
  footer {
    font-size: 1.3em;
    padding-top: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #233b54;
    min-height: 100px;
    border: 0px;
    box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.2) inset;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #325578;
    text-decoration: none;
  }
  
  .fixed{
    position: fixed;
    bottom: -35px;
  }
  
@media (min-width: 48.635rem) {
  /* #calendario {
    display: block;
  } */
  #phone {
    display: none;
  }
}

@media (max-width: 48.635rem) {
  #calendario {
    display: none;
  }
  /* #phone {
    display: block;
  } */
}




