h2 {
  font-size: 1.6em;
  color: #E04000;
}

h2:after {
  content: ":";
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

#title {
  padding-top: 4em;
}

section.container {
  padding-left: 4em;
}

img {
  padding-top: 1em;
}

container h2 {
  display: inline-block;
}

container h3 {
  display: inline;
}

#contenidos h2 {
  counter-reset: tema;
}

#contenidos h3 {
  color: #325578;
  counter-reset: subtema;
  counter-increment: tema;
}

#contenidos h4 {
  counter-increment: subtema;
}

#contenidos h3:before {
  /*content: counter(tema) ". ";*/
}

#contenidos h4:before {
  content: counter(tema) "." counter(subtema) ". ";
}

a {
  font-size: 1em;
  /*font-weight: bold;*/
  color: #7090A0;
}

@media (min-width: 768px) {
  #contenidos .panel {
    min-height: 550px;
  }
}

@media (min-width: 1170px) {
  #contenidos .panel {
    min-height: 450px;
  }
}