body {
}

h1 {
  color: #E04000;
}

h2 {
  display: inline-block;
  color: #325578;
  font-size: 1.6em;
  font-weight: 500;
}

img {
    max-width: 100%;
}

blockquote {
  color: #325578;
  font-size: 1.6em;
  font-weight: 500;
  font-style: italic;
}

.container {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

section.container {
  padding-top: 4em;
  padding-bottom: 1em;
}

#que-hacemos {
  padding-top: 5em;
}

section:nth-child(even) {
  background-color: rgba(112, 144, 160, 0.2);
  background-size: cover;
}

.navbar {
  box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
}

.navbar .nav > .active > a {
  box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.6) inset;
}

.img-border-radius {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #325578;
  max-width: 100%;
}

.img-rounded {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #325578;
}

.img-desplazada{
  position: relative;
  left: 3em;
}

footer {
  font-size: 1.3em;
  padding-top: 5px;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: #7090A0;
  min-height: 90px;
  border: 0px;
  box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.2) inset;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}
