h2,h3 {
  color: #325578;
}
h3 {
	font-style: italic;
  font-size:1.15em;
}

h4 {
  color: #E04000;
} 

#que-hacemos, #what-we-do {
  padding-top: 5em;
}

section.container {
  padding-top: 4em;
  padding-bottom: 1em;
}

.logo  {
  display: flex;
  margin: 2px;
  
}

.panel {
  margin-top: 2em;
}

.panel-void {
  background-color: #e2e9ec;
  border: #e2e9ec
  -webkit-box-shadow: none;
          box-shadow: none;
}

li {
  font-size: 1.2em;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .service {
  height: 20em;

}*/

/* .banner {
  height: 350px;
  width: 400px;
}  */


.course .panel-body a img {
  width: 100%;
}

.profe .panel-body a img {
  width: 100%;
}
/*
.course {
  widows: 21.87rem;
} 
*/

.prev, .next, .prev:hover, .next:hover {
  text-decoration: none;

}



@media (max-width: 48.625rem) {
  .panel-curso, .panel-curso {
    width: 290px;
  }

  .slideshow-container {
    margin: 0 20px 0 20px;

  }
}

@media (min-width: 48.635rem) {
  .banner {
    height: 400px;
  } 

  .profes {
    height: 400px;
    width: 400px;
  }

  .prev, .next, .prev:hover, .next:hover {
    font-size: 30px;
    text-decoration: none;
  
  }
}
