body {
    font-size: 1.6em;
  }
  
  h1 {
    color: #E04000;
  }
  
  h2 {
    font-size: 1.4em;
    font-weight: 500;
    color: #325578;
  }
  
  h3 {
    font-style: italic;
    font-size:1.15em;
    color: #325578;
  }

  h4 {
    color: #E04000;
  }
  
  a {
    color: #e04000;
    text-decoration: none;
  }
  
  a:hover {
    color: #325578;
    text-decoration: none;
    font-size: 20px;
  }

  tr:hover {
    background-color: rgba(200, 214, 134, 0.5)
  }
  
  .panel a {
    color: #325578;
  }
  
  .panel a:hover {
    color: #e04000;
  }
  
  p {
    font-size: 1.2em;
  }

  /* section a {
    text-decoration: underline;
  } */
  
  img {
      max-width: 100%;
  }
  
  blockquote {
    color: #325578;
    font-size: 1.6em;
    font-weight: 500;
    font-style: italic;
  }
  
  .container {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  section.dark {
    background-color: rgba(112, 144, 160, 0.2);
    background-size: cover;
  }
  
  .navbar {
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
  }
  
  .navbar .nav > .active > a {
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.6) inset;
  }
  
  .img-border-radius {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #325578;
    max-width: 100%;
  }
  
  .img-rounded {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #325578;
  }
  
  footer {
    font-size: 1.3em;
    padding-top: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #233b54;
    min-height: 100px;
    border: 0px;
    box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.2) inset;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    text-decoration: none;
  }
  
  .fixed{
    position: fixed;
    bottom: -35px;
  }
  


section.container {
  padding-top: 4em;
  padding-bottom: 1em;
}

.logo  {
  display: flex;
  margin: 2px;

}

.panel {
  margin-top: 2em;
}

.panel-void {
  background-color: #e2e9ec;
  border: #e2e9ec
  -webkit-box-shadow: none;
          box-shadow: none;
}

li {
  font-size: 1.2em;
}







